<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">Plural and select example</div>
        <div class="panel-body">
          <p i18n>Updated: {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago by {gender, select,
            male {male} female {female} other {other}}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>