<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <h2 class="post-title">
          <p>
            <ng-container i18n>Currency</ng-container>: {{129.99 | currency:'USD':'symbol-narrow':'2.2-2'}}</p>
        </h2>
        <h3 class="post-subtitle">
          <ng-container i18n>Date</ng-container>: {{'07-11-2018' | date}}</h3>
      </div>
      <div class="post-preview">
        <a [routerLink]="['/post']">
          <h2 class="post-title" i18n>
            Man must explore, and this is exploration at its greatest
          </h2>
          <h3 class="post-subtitle" i18n>
            Problems look mighty small from 150 miles up
          </h3>
        </a>
        <p class="post-meta">
          <ng-container i18n>Posted by</ng-container>&nbsp;
          <a href="#" i18n>Start Bootstrap</a>&nbsp;
          <ng-container i18n>on September 24, 2014</ng-container>
        </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title" i18n>
            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
          </h2>
        </a>
        <p class="post-meta">
          <ng-container i18n>Posted by</ng-container>&nbsp;
          <a href="#" i18n>Start Bootstrap</a>&nbsp;
          <ng-container i18n>on September</ng-container> 18, 2014
        </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title" i18n>
            Science has not yet mastered prophecy
          </h2>
          <h3 class="post-subtitle" i18n>
            We predict too much for the next year and yet far too little for the next ten.
          </h3>
        </a>
        <p class="post-meta">
          <ng-container i18n>Posted by</ng-container>&nbsp;
          <a href="#" i18n>Start Bootstrap</a>&nbsp;
          <ng-container i18n>on August</ng-container> 24, 2014
        </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title" i18n>
            Failure is not an option
          </h2>
          <h3 class="post-subtitle" i18n>
            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
          </h3>
        </a>
        <p class="post-meta">
          <ng-container i18n>Posted by</ng-container>&nbsp;
          <a href="#" i18n>Start Bootstrap</a>&nbsp;
          <ng-container i18n>on July</ng-container> 8, 2014
        </p>
      </div>
      <hr>
      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#" i18n="@@0ld3rP0sts">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted" i18n>Copyright &copy; Your Website 2016</p>
      </div>
    </div>
  </div>
</footer>